.button {
  background-color: #fff;
  color: #f0932b;
  font-family: 'Crete Round', serif;
  text-decoration: none;
  font-size: 15px;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  width: 150px;
  justify-self: center;
  border-radius: 10px;
  outline: none;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 0px #f0932b;
}

@media (min-width: 600px) {
  .button {
    font-size: 20px;
    padding: 10px 10px;
    width: 200px;
    justify-self: center;
    border-radius: 15px;
    margin-top: 30px;
  }
}