@media screen and (max-width: 700px) {
  .checklist__to-do-item {
    margin: 7px;
    padding: 7px;
    width: 400px;
    font-size: 18px;
  }

  .checklist__custom .checklist__checkmark {
    width: 32px;
    height: 32px;
  }  
}

@media screen and (max-width: 600px) {
  .checklist__custom .checklist__checkmark {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    margin-right: 2px;
  }
  .checklist__to-do-item {
    margin: 2px;
    padding: 2px;
    width: 235px; 
    font-size: 18px;
    border-radius: 8px;
  }

  .button {
    font-size: 15px;
    padding: 5px 5px;
    width: 150px;
    justify-self: center;
    border-radius: 10px;
    margin-top: 5px;
  }

  .text__maintitle {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 2px;
  }
}